body{
    background-color: rgb(0, 107, 207);
    margin-left: 40px;
}

.caixa{
   width: 200px;
   height: 200px;
   background-color: rgb(0, 0, 0);
}
.ativa{
    background-color: red
}

.led{
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(255, 0, 0);
}
.ligado{
    background-color: green;
}
button{
    padding: 5px;
    margin: 10px;
    
}
#botOn{
    background-color: green;
}
#botOff{
    background-color: red;
}