* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(30, 74, 218);
    
}


.caixa{
   width: 200px;
   height: 200px;
   background-color: rgb(0, 0, 0);
}
.ativa{
    background-color: red
}

.led{
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(247, 56, 56);
}
.ligado{
    background-color: rgb(29, 139, 29);
}

.menu{
    background-color: white;
    width: 100%;
    padding: 20px;
    text-align: left;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.menu h1{
    margin: 0;
    flex-grow:1;
}

.menu-imagem{
    height: 40px;
    width: auto;
}
button{
    padding: 5px;
    margin: 10px;
    
}
#botOn{
    background-color: rgb(29, 139, 29);
}
#botOff{
    background-color: rgb(221, 44, 44);
}