<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href="{{url_for('static', filename='style.css')}}">
        <link rel='icon' href="{{url_for('static', filename='logo.ico')}}">
        <title>Totem Movel</title>
        <style>
            .bg-on{
                background-color: green;
            }
            .bg-off{
                background-color: red;
            }
        </style>
        
    </head>
    <body>
        <div class="menu">
            <h1>Controle Totem - Sigschindler</h1>
            <img src="{{url_for('static', filename='logo-sig.jpg')}}" alt="Logo" class="menu-imagem">
        </div>
        
        <button onclick="alterar(this)" id="botOn" value="on">ON</button>
        
        
        <button onclick="alterar(this)" id="botOff" value="off">OFF</button>
        

        <div id="led" class="led">LED</div>

        

        

        <script>
            function alterar(botao){

                const estado = botao.value
                fetch('/led',{
                    method: 'POST',
                    headers: {
                        'Content-Type' : 'application/json'
                    },
                    body: JSON.stringify({
                        led: estado
                    })
                })
                .then(response => response.json())
                .then(data => {
                    const divled = document.getElementById('led');

                    if (data.estadoled){
                        divled.classList.add('ligado');
                    } 
                    if  (!(data.estadoled)){
                        divled.classList.remove('ligado')
                    }

                });
            }
        </script>
    </body>
</html>