<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href="{{url_for('static', filename='style.css')}}">
        <link rel='icon' href="{{url_for('static', filename='logo.ico')}}">
        <title>Totem Movel</title>
        <style>
            .bg-on{
                background-color: green;
            }
            .bg-off{
                background-color: red;
            }
        </style>
    </head>
    <body>
        <h1>Controle Totem</h1>
        
        <button onclick="ligar()">ON</button>
        
        <form id="form2" method="get">
            <button type="submit">OFF</button>
        </form>

        <div id="led" class="led">LED</div>

        <div id="box"class="caixa"></div>

        <button onclick="enviarServidor()">Mudar cor</button>

        <script>
            function ligar(){
                fetch('/led',{
                    method: 'POST',
                    headers: {
                        'Content-Type' : 'application/json'
                    },
                    body: JSON.stringify({
                        led: 'on'
                    })
                })
                .then(response => response.json())
                .then(data => {
                    const divled = document.getElementById('led');

                    if (data.estadoled){
                        divled.classList.add('ligado');
                    } else {
                        divled.classList.remove('ligado')
                    }

                });
            }
            function enviarServidor() {
            fetch('/acao', {
                method: 'POST'
            })
            .then(response => response.json())
            .then(data => {
                const box = document.getElementById('box');

                if (data.ativa) {
                    box.classList.add('ativa');
                } else {
                    box.classList.remove('ativa');
                }
            });
        }
            document.getElementById("form1").addEventListener("submit", function (e) {
                e.preventDefault();
                fetch("/status?statusled=on")
                .then(response => response.text())
                .then(data => {
                 console.log("Resposta do servidor:", data);
             });
         });   
            document.getElementById("form2").addEventListener("submit", function (e) {
                e.preventDefault();
                fetch("/status?statusled=off")
                .then(response => response.text())
                .then(data => {
                 console.log("Resposta do servidor:", data);
             });
         });

              fetch("/status")
                .then(r => r.json())
                .then(data => {
                document.body.style.backgroundColor = data.cor;
        });
        </script>
    </body>
</html>